* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animate 5s infinite;
}

#number {
    user-select: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 250px;
    margin: 0;
    color: white;
    max-height: 100%;
}

button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: none;
    padding: 10px 25px;
    border-radius: 100px;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    transform: translateX(-50%) translateY(-5px);
}

@keyframes animate {
    0% {
        background-color: rgb(97, 192, 255);
    }

    10% {
        background-color: rgb(63, 45, 255);
    }

    20% {
        background-color: rgb(38, 0, 255);
    }

    30% {
        background-color: rgb(25, 0, 187);
    }

    40% {
        background-color: rgb(10, 0, 144);
    }

    50% {
        background-color: rgb(17, 0, 65);
    }
    
    60% {
        background-color: rgb(4, 0, 54);
    }

    70% {
        background-color: rgb(17, 0, 65);
    }

    80% {
        background-color: rgb(10, 0, 144);
    }

    90% {
        background-color: rgb(25, 0, 187);
    }

    100% {
        background-color: rgb(63, 45, 255);
    }
}